$black: #222;
$black-1: #000;
$black-2: #1f1b1c;
$black-3: #181716;
$gray: #686868;
$gray-2: #c2c2c2;
$white: #fff;
$red: #e61a25;
$red-2: #E52225;
$red-3: #E41924;
$red-4: #980000;
$box-shadow: 0 0 0 0.25rem rgba(229, 34, 37, 0.5);
$logowidth: 113px;
